// Imports
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "bootswatch.less";
  // Fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

@font-face {
    font-family: Ubuntu;
    src: url(../font/ubuntu/Ubuntu-R.ttf);
    font-weight:400;
}

@font-face {
    font-family: UbuntuMono;
    src: url(../font/ubuntu/UbuntuMono-R.ttf);
    font-weight:400;
}

// Body
body {
  font-family: 'Ubuntu', sans-serif;
}

code {
  color: @purple;
  font-size: 12px;
  font-family: 'UbuntuMono', monaco, monospace;
}

// Footer
#footer {
  margin: 0;
  padding: 0;

  hr {
    margin: 0;
  }
}

// Code Sample
pre.prettyprint {
  margin: 1em;
  padding-left: 16px !important;
  ol.linenums li {
    list-style-type: decimal-leading-zero !important;
  }
}
